<!-- footer -->
<tr>
  <td valign="top" align="center">
    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="25" class="em_height">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top" align="center">
          <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="20" class="em_side">&nbsp;</td>
              <td valign="top" align="center">
                <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="11" style="font-size:0px; line-height:0px;">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" align="center">
                      <table align="center" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top" style="font-size:0px; line-height:0px;"><a href="https://twitter.com/gohinterlands" target="_blank" style="text-decoration:none;"><%= image_tag "social_icon1.png", :style=>"display:block; max-width:18px;font-family:'Metric', Helvetica, Arial, sans-serif; font-size:12px; line-height:14px;color:#a7afb3;" %></td>
                          <td width="11"></td>
                          <td valign="top" style="font-size:0px; line-height:0px;"><a href="https://www.facebook.com/gohinterlands/" target="_blank" style="text-decoration:none;"><%= image_tag "social_icon2.png", :style=> "display:block; max-width:18px;font-family:'Metric', Helvetica, Arial, sans-serif; font-size:12px; line-height:14px;color:#a7afb3;" %></td>
                          <td width="11"></td>
                          <td valign="top" style="font-size:0px; line-height:0px;"><a href="https://www.instagram.com/gohinterlands/" target="_blank" style="text-decoration:none;"><%= image_tag "social_icon3.png", :style=> "display:block; max-width:18px;font-family:'Metric', Helvetica, Arial, sans-serif; font-size:12px; line-height:14px;color:#a7afb3;" %></td>
                          <td width="11"></td>
                          <td valign="top" style="font-size:0px; line-height:0px;"><a href="https://www.linkedin.com/company/hinterlands-app/" target="_blank" style="text-decoration:none;"><%= image_tag "social_icon4.png", :style=> "display:block; max-width:18px;font-family:'Metric', Helvetica, Arial, sans-serif; font-size:12px; line-height:14px;color:#a7afb3;" %></td>
                          <td width="11"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="25" class="em_height">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" align="center">
                      <table align="center" width="260" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="center" style="font-family:'Metric', Helvetica, Arial, sans-serif; font-size:11px; line-height:13px;color:#a7afb3; text-decoration:none;"><span class="em_applewhiltelink">Copyright &copy;2016 Hinterlands, All rights reserved.<br />
                            25 First St., Cambridge, MA 02141</span>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="25" class="em_height">&nbsp;</td>
                  </tr>
                </table>
              </td>
              <td width="20" class="em_side">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td height="25" class="em_height">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>



<!--    </td>
          </tr>
          <tr>
            <td style="width: 484px !important; clear: both !important; padding: 28px; margin: 0">
            </td>
          </tr>
          <tr>
            <td style="width: 484px !important; clear: both !important; padding: 0 28px 130px; margin: 0">
              <div style="color: #999999; font-size: 11px; text-align: center;">
                <p>
                  You have received this email because you signed up for Hinterlands. To unsubscribe from future emails
                  from us <%= mail_to "optout@gohinterlands.com", "click here", :style => "color: #666666;" %> and type your email address in the subject line.
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </table>
</div>
 -->
