<tr>
  <td valign="top" align="center" bgcolor="#f8f8f8">
    <table align="center" width="90%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="20" class="em_side">&nbsp;</td>
        <td valign="top" align="center">
          <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="40" class="em_height">&nbsp;</td>
            </tr>
            <tr>
              <td valign="top" align="center">
                <table align="center" width="75" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="middle" height="16" align="left" style="font-size:0px; line-height:0px;">
                      <%= image_tag "ico_tree.png", :width => "12", :height => "16", :alt => "", :style => "display:block; max-width:12px;",  :order => "0" %>
                    </td>
                    <td width="15">&nbsp;</td>
                    <td valign="middle" height="16" align="left" style="font-size:0px; line-height:0px;">
                      <%= image_tag "ico_water.png", :width => "17", :height => "16", :alt => "", :style => "display:block; max-width:17px;",  :order => "0" %>
                    </td>
                    <td width="15">&nbsp;</td>
                    <td valign="middle" height="16" align="left" style="font-size:0px; line-height:0px;">
                      <%= image_tag "ico_snow.png", :width => "15", :height => "16", :alt => "", :style => "display:block; max-width:15px;",  :order => "0" %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="40" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                <%= @user.first_name %>, 
              </td>
            </tr>
            <tr>
              <td height="17" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                Thank you for taking the time to complete your Hinterlands partner application. After careful review, we have approved your application and you are now eligible to begin publicly listing adventures.
              </td>
            </tr>
            <tr>
              <td height="17" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                If you have not done so already, please make sure your ACH information is completed, as your listings will not appear on our platform until then.
              </td>
            </tr>
            <tr>
              <td height="17" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                Our users love detail. They want to know everything about an adventure. Where they’ll be going, how many miles to plan on hiking, what routes you’ll be climbing, where the best snow is, what to wear, what to bring, and all the nitty gritty that we all enjoy reading as well.
              </td>
            </tr>
            <tr>
              <td height="17" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                We’ve also found photography to be an incredibly effective sales tool for our partners. The better the photos, the more trip requests you’ll receive. If you’re interested in having one of our local community managers shoot some photos for you, please reach out and let us know
              </td>
            </tr>
            <tr>
              <td height="17" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                Now that you are fully verified, take a minute to download our <%= link_to "iOS app", "https://itunes.apple.com/us/app/hinterlands/id1125441700?ls=1&mt=8", :target => "blank_",:style => "color: #6299b3; font-size: 14px; text-decoration:none;" %> so you can edit adventures anywhere, anytime. Keep photos and trip availability up to date in just a few taps, and much, much more.
              </td>
            </tr>
            <tr>
              <td height="17" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                If you have any questions or feedback, please reach out to us <%= mail_to "hi@gohinterlands.com", "hi@gohinterlands.com", :style => "color: #6299b3; font-size: 14px; text-decoration:none;"%>
              </td>
            </tr>
            <tr>
              <td height="20" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                Sincerely,
                <br/>
                Andrew, Dave, Darion and Rory
                <br/>
                <i>The Hinterlands Team</i>
              </td>
            </tr>
            <tr>
              <td height="30" class="em_height">&nbsp;</td>
            </tr>
          </table>
        </td>
        <td width="20" class="em_side">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
