<tr>
  <td valign="top" align="center">
    <%= image_tag "banner.png", :width => "600", :height => "229", :alt => "", :style => "display:block; max-width:600px;", :border => "0", :class => "em_img" %>
  </td>
</tr>
<tr>
  <td valign="top" align="center" bgcolor="#f8f8f8">
    <table align="center" width="90%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="20" class="em_side">&nbsp;</td>
        <td valign="top" align="center">
          <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="40" class="em_height">&nbsp;</td>
            </tr>
            <tr>
              <td valign="top" align="center">
                <table align="center" width="75" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="middle" height="16" align="left" style="font-size:0px; line-height:0px;">
                      <%= image_tag "ico_tree.png", :width => "12", :height => "16", :alt => "", :style => "display:block; max-width:12px;",  :order => "0" %>
                    </td>
                    <td width="15">&nbsp;</td>
                    <td valign="middle" height="16" align="left" style="font-size:0px; line-height:0px;">
                      <%= image_tag "ico_water.png", :width => "17", :height => "16", :alt => "", :style => "display:block; max-width:17px;",  :order => "0" %>
                    </td>
                    <td width="15">&nbsp;</td>
                    <td valign="middle" height="16" align="left" style="font-size:0px; line-height:0px;">
                      <%= image_tag "ico_snow.png", :width => "15", :height => "16", :alt => "", :style => "display:block; max-width:15px;",  :order => "0" %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="40" class="em_height">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                <%= @user.first_name %>, 
              </td>
            </tr>
            <tr>
              <td height="17" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                This email is to confirm receipt of your Hinterlands partner application. Please allow us 5 to 7 days to review your submission.
              </td>
            </tr>
            <tr>
              <td height="34" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td class="em_font_25" align="left" style="font-family:'Metric', Helvetica, Arial, sans-serif; font-size:20px; line-height:25px; color:#403c39; font-weight:bold;">
                Whats next?
              </td>
            </tr>
            <tr>
              <td height="5" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td width="45" height="2" align="left" bgcolor="#6299b3" style="display:block;">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td height="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                During this period, you are free to begin creating adventures. These listings will not be live on our platform until your partner application is approved and banking information is entered, but feel free to get a head start so you can hit that ‘list’ button as soon as you become an official partner.
              </td>
            </tr>
            <tr>
              <td height="40" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
          </table>
        </td>
        <td width="20" class="em_side">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td valign="top" align="center" bgcolor="#f8f8f8" background="<%= image_url 'banner_bg.png' %>" style="background-repeat:no-repeat; background-size:100% auto; background-position:center;">
    <%= image_tag "adventure.png", :width => "480", :height => "265", :alt => "", :style => "display:block; max-width:480px;", :border => "0", :class => "em_img" %>
  </td>
</tr>
<tr>
  <td valign="top" align="center" bgcolor="#f8f8f8">
    <table align="center" width="90%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="20" class="em_side">&nbsp;</td>
        <td valign="top" align="center">
          <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="40" class="em_height">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                Our users love detail. They want to know everything about an adventure. Where they’ll be going, how many miles to plan on hiking, what routes you’ll be climbing, where the best snow is, what to wear, what to bring, and all the nitty gritty that we all enjoy reading as well. 
              </td>
            </tr>
            <tr>
              <td height="17" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                We’ve also found photography to be an incredibly effective sales tool for our partners. The better the photos, the more trip requests you’ll receive. If you’re interested in having one of our local community managers shoot some photos for you, please reach out and let us know.
              </td>
            </tr>
            <tr>
              <td height="20" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                Sincerely,
                <br/>
                Andrew, Dave, Darion and Rory
                <br/>
                <i>The Hinterlands Team</i>
              </td>
            </tr>
            <tr>
              <td height="30" class="em_height">&nbsp;</td>
            </tr>
          </table>
        </td>
        <td width="20" class="em_side">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
