<tr>
  <td valign="top" align="center" bgcolor="#f8f8f8">
    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="20" class="em_side">&nbsp;</td>
        <td valign="top" align="center">
          <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="40" class="em_height">&nbsp;</td>
            </tr>
            <tr>
              <td class="em_font_25" align="center" style="font-family:'Metric', Helvetica, Arial, sans-serif; font-size:25px; line-height:27px; color:#403c39; font-weight:bold;">Welcome to Hinterlands!<br class="em_hide"/>
                A life of adventure is around the corner.</td>
            </tr>
            <tr>
              <td height="17" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td valign="top" align="center">
                <table align="center" width="75" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="middle" height="16" align="left" style="font-size:0px; line-height:0px;">
                      <%= image_tag "ico_tree.png", :width => "12", :height => "16", :alt => "", :style => "display:block; max-width:12px;",  :order => "0" %>
                    </td>
                    <td width="15">&nbsp;</td>
                    <td valign="middle" height="16" align="left" style="font-size:0px; line-height:0px;">
                      <%= image_tag "ico_water.png", :width => "17", :height => "16", :alt => "", :style => "display:block; max-width:17px;",  :order => "0" %>
                    </td>
                    <td width="15">&nbsp;</td>
                    <td valign="middle" height="16" align="left" style="font-size:0px; line-height:0px;">
                      <%= image_tag "ico_snow.png", :width => "15", :height => "16", :alt => "", :style => "display:block; max-width:15px;",  :order => "0" %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="18" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td align="center" style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                <!-- You can browse trips now, but if you want to book an adventure,<br class="em_hide"/>
                you’ll need to verify your account. -->
                Your account has been verified. Start your adventure today by viewing your discover dashboard!
              </td>
            </tr>
            <!-- <tr>
              <td height="20" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td valign="top" align="center">
                <table align="center" width="160" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="top" align="center">
                      <table align="center" width="160" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top" width="3" style="font-size:0px; line-height:0px;">
                            <%= image_tag "curve_1.jpg", :width => "3", :height => "3", :alt => "", :style => "display:block; max-width:3px;", :border => "0" %>
                          </td>
                          <td valign="top" align="center">
                            <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="1" style="font-size:0px; line-height:0px;" bgcolor="#6299b3">
                                  <%= image_tag "spacer.gif", :width => "1", :height => "1", :alt => "", :style => "display:block;", :border => "0" %>
                                </td>
                              </tr>
                              <tr>
                                <td height="2" style="font-size:0px; line-height:0px;">
                                  <%= image_tag "spacer.gif", :width => "1", :height => "1", :alt => "", :style => "display:block;", :border => "0" %>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td valign="top" width="3" style="font-size:0px; line-height:0px;">
                            <%= image_tag "curve_2.jpg", :width => "3", :height => "3", :alt => "", :style => "display:block; max-width:3px;", :border => "0" %>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" align="center">
                      <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="1" bgcolor="#6299b3"></td>
                          <td height="35" valign="middle" align="center" style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:10px; color:#74a9c0; font-weight:bold;"><a href="#" target="_blank" style="text-decoration:none; line-height:35px; display:block; color:#74a9c0;">VERIFY ACCOUNT</a></td>
                          <td width="1" bgcolor="#6299b3"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" align="center">
                      <table align="center" width="160" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top" width="3" style="font-size:0px; line-height:0px;">
                            <%= image_tag "curve_4.jpg", :width => "3", :height => "3", :alt => "", :style => "display:block; max-width:3px;", :border => "0" %>
                          </td>
                          <td valign="top" align="center">
                            <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="2" style="font-size:0px; line-height:0px;" >
                                  <%= image_tag "spacer.gif", :width => "1", :height => "1", :alt => "", :style => "display:block;", :border => "0" %>
                                </td>
                              </tr>
                              <tr>
                                <td height="1" style="font-size:0px; line-height:0px;" bgcolor="#6299b3">
                                  <%= image_tag "spacer.gif", :width => "1", :height => "1", :alt => "", :style => "display:block;", :border => "0" %>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td valign="top" width="3" style="font-size:0px; line-height:0px;">
                            <%= image_tag "curve_3.jpg", :width => "3", :height => "3", :alt => "", :style => "display:block; max-width:3px;", :border => "0" %>
                          </td>
                        </tr>
                      </table></td>
                  </tr>
                </table></td>
            </tr> -->
            <tr>
              <td height="30" class="em_height">&nbsp;</td>
            </tr>
          </table>
        </td>
        <td width="20" class="em_side">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td valign="top" align="center">
    <%= image_tag "banner.jpg", :width => "600", :height => "147", :alt => "", :style => "display:block; max-width:600px;", :border => "0", :class => "em_img" %>
  </td>
</tr>

<tr>
  <td valign="top" align="center" bgcolor="#f8f8f8">
    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="50" class="em_side">&nbsp;</td>
        <td valign="top" align="center">
          <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td valign="top" align="center">
                <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="35" class="em_height">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family:'Metric', Helvetica, Arial, sans-serif; font-size:20px; line-height:22px; color:#403c39;font-weight:bold;">FEATURED ADVENTURES</td>
                  </tr>
                  <tr>
                    <td height="13" style="font-size:0px; line-height:0px;">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" align="center">
                      <table align="center" width="100" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="2" bgcolor="#6299b3" style="font-size:0px; line-height:0px;">
                            <%= image_tag "spacer.gif", :width => "1", :height =>"1", :alt => "", :style => "display:block;", :border => "0" %>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="25" class="em_height">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center" style="font-family:'Droid Serif', 'Times New Roman', Times, serif;font-size:14px; line-height:20px; color:#827c75;">Check out some new featured adventures <br class="em_hide"/>
                      we added to our app.
                    </td>
                  </tr>
                  <tr>
                    <td height="25" class="em_height">&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="1" bgcolor="#dbdbdb" style="font-size:0px; line-height:0px;">
                      <%= image_tag "spacer.gif", :width => "1", :height =>"1", :alt => "", :style => "display:block;", :border => "0" %>
                    </td>
                  </tr>
                  <tr>
                    <td height="35" class="em_height">&nbsp;</td>
                  </tr>
                  <%= render partial: 'user_mailer/featured_adventures', locals: { feature_adventures: @feature_adventures } %>
                  <tr>
                    <td height="35" class="em_height">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" align="center">
                      <table align="center" width="160" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top" align="center">
                            <table align="center" width="160" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td valign="top" width="3" style="font-size:0px; line-height:0px;">
                                  <%= image_tag "curve_1.jpg", :width => "3", :height => "3", :alt => "", :style => "display:block; max-width:3px;", :border => "0" %>
                                </td>
                                <td valign="top" align="center">
                                  <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td height="1" style="font-size:0px; line-height:0px;" bgcolor="#6299b3">
                                        <%= image_tag "spacer.gif", :width => "1", :height => "1", :alt => "", :style => "display:block;", :border => "0" %>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td height="2" style="font-size:0px; line-height:0px;">
                                        <%= image_tag "spacer.gif", :width => "1", :height => "1", :alt => "", :style => "display:block;", :border => "0" %>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td valign="top" width="3" style="font-size:0px; line-height:0px;">
                                  <%= image_tag "curve_2.jpg", :width => "3", :height => "3", :alt => "", :style => "display:block; max-width:3px;", :border => "0" %>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" align="center">
                            <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="1" bgcolor="#6299b3"></td>
                                <td height="35" valign="middle" align="center" style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:10px; color:#74a9c0; font-weight:bold;">
                                  <%= link_to "VIEW MORE", web_app_url('adventures'), :target => "_blank", :style => "text-decoration:none; line-height:35px; display:block; color:#74a9c0;" %>
                                </td>
                                <td width="1" bgcolor="#6299b3"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" align="center">
                            <table align="center" width="160" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td valign="top" width="3" style="font-size:0px; line-height:0px;">
                                  <%= image_tag "curve_4.jpg", :width => "3", :height => "3", :alt => "", :style => "display:block; max-width:3px;", :border => "0" %>
                                </td>
                                <td valign="top" align="center">
                                  <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td height="2" style="font-size:0px; line-height:0px;" >
                                        <%= image_tag "spacer.gif", :width => "1", :height => "1", :alt => "", :style => "display:block;", :border => "0" %>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td height="1" style="font-size:0px; line-height:0px;" bgcolor="#6299b3">
                                        <%= image_tag "spacer.gif", :width => "1", :height => "1", :alt => "", :style => "display:block;", :border => "0" %>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td valign="top" width="3" style="font-size:0px; line-height:0px;">
                                  <%= image_tag "curve_3.jpg", :width => "3", :height => "3", :alt => "", :style => "display:block; max-width:3px;", :border => "0" %>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="35" class="em_height">&nbsp;</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="1" bgcolor="#eaeaea" style="font-size:0px; line-height:0px;">
                <%= image_tag "spacer.gif", :width => "1", :height => "1", :alt => "", :style => "display:block;", :border => "0" %>
              </td>
            </tr>
            <tr>
              <td height="32" class="em_height">&nbsp;</td>
            </tr>
            <tr>
              <td align="center" style="font-family:'Metric', Helvetica, Arial, sans-serif; font-size:20px; line-height:22px; color:#403c39;font-weight:bold;">BLOG</td>
            </tr>
            <tr>
              <td height="12" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
            <tr>
              <td valign="top" align="center"><table width="100" align="center" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="2" bgcolor="#6299b3" style="font-size:0px; line-height:0px;">
                      <%= image_tag "spacer.gif", :width => "1", :height => "1", :alt => "", :style => "display:block;", :border => "0" %>
                    </td>
                  </tr>
                </table></td>
            </tr>
            <tr>
              <td height="28" class="em_height">&nbsp;</td>
            </tr>
            <tr>
              <td align="center" style="font-family:'Droid Serif', 'Times New Roman', Times, serif;font-size:14px; line-height:20px; color:#827c75;">Need inspiration to start planning?<br />
                Check out our blog for ideas.</td>
            </tr>
            <tr>
              <td height="23" class="em_height">&nbsp;</td>
            </tr>
            <tr>
              <td valign="top" align="center">
                <table align="center" width="160" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="top" align="center">
                      <table align="center" width="160" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top" width="3" style="font-size:0px; line-height:0px;">
                            <%= image_tag "curve_1.jpg", :width => "3", :height => "3", :alt => "", :style => "display:block; max-width:3px;", :border => "0" %>
                          </td>
                          <td valign="top" align="center">
                            <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="1" style="font-size:0px; line-height:0px;" bgcolor="#6299b3">
                                  <%= image_tag "spacer.gif", :width => "1", :height => "1", :alt => "", :style => "display:block;", :border => "0" %>
                                </td>
                              </tr>
                              <tr>
                                <td height="2" style="font-size:0px; line-height:0px;">
                                  <%= image_tag "spacer.gif", :width => "1", :height => "1", :alt => "", :style => "display:block;", :border => "0" %>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td valign="top" width="3" style="font-size:0px; line-height:0px;">
                            <%= image_tag "curve_2.jpg", :width => "3", :height => "3", :alt => "", :style => "display:block; max-width:3px;", :border => "0" %>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" align="center">
                      <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="1" bgcolor="#6299b3"></td>
                          <td height="35" valign="middle" align="center" style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:10px; color:#74a9c0; font-weight:bold;">
                            <%= link_to "VIEW BLOG", "http://blog.gohinterlands.com", :target => "_blank", :style => "text-decoration:none; line-height:35px; display:block; color:#74a9c0;" %>
                          </td>
                          <td width="1" bgcolor="#6299b3"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" align="center">
                      <table align="center" width="160" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top" width="3" style="font-size:0px; line-height:0px;">
                            <%= image_tag "curve_4.jpg", :width => "3", :height => "3", :alt => "", :style => "display:block; max-width:3px;", :border => "0" %>
                          </td>
                          <td valign="top" align="center">
                            <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="2" style="font-size:0px; line-height:0px;" >
                                  <%= image_tag "spacer.gif", :width => "1", :height => "1", :alt => "", :style => "display:block;", :border => "0" %>
                                </td>
                              </tr>
                              <tr>
                                <td height="1" style="font-size:0px; line-height:0px;" bgcolor="#6299b3">
                                  <%= image_tag "spacer.gif", :width => "1", :height => "1", :alt => "", :style => "display:block;", :border => "0" %>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td valign="top" width="3" style="font-size:0px; line-height:0px;">
                            <%= image_tag "curve_3.jpg", :width => "3", :height => "3", :alt => "", :style => "display:block; max-width:3px;", :border => "0" %>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="50" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
          </table>
        </td>
        <td width="50" class="em_side">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
